<h1>User info</h1>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>

<table>
   <tr>
       <th>name</th>
       <th><%= user.name %></th>
   </tr>
   <tr>
       <th>introduction</th>
       <th><%= user.introduction %></th>
   </tr>
</table>

<% if user.id == current_user.id %>
  <%= link_to edit_user_path(user.id) do %>
   <%= image_tag('edit_mypage.jpeg',size: '70x60') %>
  <% end %>
<% else %>
  <%= link_to user_path(current_user.id) do %>
  <%= image_tag('edit_mypage.jpeg',size: '70x60') %>
  <% end %>
<% end %>
