<h3>Users</h3>

<table>
    <thead>
     <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
     </tr>
    </thead>
    <tbody>
     <% @users.each do |f| %>
      <tr>
       <td><%= attachment_image_tag f, :profile_image, :fill, 10, 10, fallback: "no_image.jpg" %></td>
       <td><%= f.name %></td>
       <td><%= link_to "show", user_path(f.id) %></td>
      </tr>
     <% end %>
   </tbody>
</table>

<%= render 'users/mypage-edit', user: @user %>
<%= render 'books/newbook', book: Book %>




