
 <div class="container">
  <div class="row">
   <div class="col-md-3">
    <%= render 'users/mypage-edit', user: @book.user %>
    <%= render 'books/newbook', book: Book %>
   </div>
   <div class="col-md-8 offset-md-1">
    <table class="table">
     <h2>Book detail</h2>
      <tr>
       <th　colspan="2">
        <%= attachment_image_tag @book.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %>
        <%= link_to @book.user.name, user_path(@book.user.id) %>
       </th>



       <th colspan="2">
        <%= link_to @book.title, edit_book_path(@book.id) %>
       </th>




       <th colspan="2"><%= @book.body %></th>
       <th>
        <% if @book.user_id == current_user.id %>
         <%= link_to "Edit", edit_book_path(@book.id) %>
        <% end %>
       </th>
       <th>
       <% if @book.user_id == current_user.id %>
        <%= link_to "Destroy", book_path(@book.id), method: :delete, data: { confirm: '削除を実行しますか？', commit: '削除', cancel: 'キャンセル'  } %>
       <% end %>
      </th>
     </tr>
    </table>
   </div>
  </div><!--row-->
 </div><!--container-->




