
 <div class="container">
  <div class="row">
    <div class="col-md-3"></div>
     <%= form_with model:@book, local: true do |f| %>
      <h2>Editing Book</h2>
      <h5>タイトル</h5>
      <%= f.text_field :title %>
      <h5>カテゴリー</h5>
      <%= f.text_area :body %>
　    <br>
      <%= f.submit 'Update Book' %>
      <br>
      <p><%= link_to "Show", book_path %> | <%= link_to "Back", books_path %></p>
     <% end %>
  </div><!--row-->
 </div><!--container-->