<div class="container">
  <div class="row">
   <div class="col-md-3">
    <section class="stats">
    <%= render 'users/mypage-edit', user: @user %>
     </section>
    <%= render 'books/newbook', book: Book %>
   </div>
   <div class="col-md-8 offset-md-1">
    <table class="table">
     <h3>Users</h3>
      <thead>
       <tr>
        <th>image</th>
        <th>name </th>
       </tr>
      </thead>
      <tbody>
      <% @users.each do |f| %>
       <tr>
        <td><%= attachment_image_tag f, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size: "40x40" %></td>
        <td><%= f.name %></td>
        <td>フォロー数：<%= f.follows.count %> </td>
        <td>フォロワー数：<%= f.followers.count %> </td>
        <td>
        <% if current_user.follows?(f) %>
          <%= form_with(model: current_user.active_relationships.find_by(followed_id: f.id),
                                                html: { method: :delete }, local: true) do |g| %>
           <%= g.submit "フォロー外す" %>
          <% end %>
        <% else %>
          <%= form_with(model: current_user.active_relationships.new, local: true) do |h| %>
           <div><%= hidden_field_tag :followed_id, f.id %></div>
          <%= h.submit "フォローする" %>
        <% end %>
      <% end %>
        </td>
        <td><%= link_to "Show", user_path(f.id) %></td>
       </tr>
      <% end %>
     </tbody>
    </table>
  </div><!-- col-lg-3 -->
 </div><!--row-->
</div><!--container-->

<h1 id="arrow_top">
  <i class="far fa-arrow-alt-circle-up fa-lg"></i>
</h1>





