<% provide(:title, @title) %>
<div class="row">
  <aside >
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Books:</b> <%= @user.books.count %></span>
    </section>
    <section class="stats">


      <div class="stats">
  <a href="<%= follows_user_path(@user) %>">
    <strong id="follows" class="stat">
      <%= @user.follows.count %>
    </strong>
    follows
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>  <!-- stats -->






      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= user.name %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div >
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |f| %>
         <li>
           <%= attachment_image_tag f, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size: "40x40" %>
           <%= f.name %>
           <%= link_to "Show", user_path(f.id) %>
         </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>




